.loader{
    /* margin: 40px; */
    height: 120px;
    width: 120px;
    /* background-color: #e5e3e3; */
    border-radius: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    animation: spin 2s linear infinite;
}



h1{
    font-style: bold;
    margin: 20px;
}

@keyframes spin {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg);
    }
    
}